*{
	margin: 0;
	border:0;
	font-size: 20px;
}
.heading{
	background: linear-gradient(rgba(232, 60, 123, 0.61), rgba(16, 255, 139, 0.61),rgba(237, 166, 66, 0.61)),url("background.jpg");
	background-size: cover;
	border:5px solid  black;
	padding: 20px 20px;
}
h1{
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	text-shadow: 4px 4px 4px black;
}
.heading img{
	border:5px solid red;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	margin-top: 20px;
}
.heading p{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.container{
	background-color: #c3e1e8;
	border:5px solid black;
}
.container ul li p{
	font-weight: bold;
}
ul{
	list-style-type: none;
	margin-bottom: 20px;
}
h2{
	text-decoration: underline;
	margin-bottom: 10px;
}
img:hover{
	/*height: 400px;
	width: 400px;*/
	transform: scale(1.8);
}
.heading:hover{
	background-image: url("background2.jpg");
	background-size: cover;
}
table{
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-left: 40px;
}
td{
	border:solid black;
}
.container table #title{
	font-weight: bold;
	text-align: center;
}
.exp,.declare{
	margin-bottom: 20px;
	margin-left: 40px;
}